.playing {
  background: red;
}

.notplaying {
  background: green;
}

.undecided {
  background: #FFB900;
}

#status-table  {
  max-width: 75%;
  margin-left: 2%;
}

button {
  margin-right: 10px;
  background: silver;
}

.game-button {
  background: #51677E;
}

h4, h5 {
  margin-left: 2%;
}

@media (max-width:768px){.status-button{width:25%; height: 10%; font-size: .5em}#status-table{max-width: 100%}}
