.playing {
  background: red;
}

.notplaying {
  background: green;
}

.undecided {
  background: #FFB900;
}

#status-table  {
  max-width: 40%;
  margin-left: 2%;
}

button {
  margin-right: 10px;
  background: silver;
}

.game-button {
  background: #51677E;
}

h4, h5 {
  margin-left: 2%;
}
