#add-player-form {
  max-width: 30%;
  margin-left: 2%;
}

#add-player-submit {
  background-color: silver;
  color: white;
  padding: .5em 2em;
  border-radius: 3px;
  font-family: Arial;
  font-size: 1.25em;
}


#add-player-submit:hover {
  transition: .5s;
  background-color: green;
}
